<section class="card green">
 <form id="post">   
 <header> Project | {{name}}</header>
 <h4>Posted by | {{user.name}}</h4>

<h5>{{description}}</h5>
<input type="text" name="description" class="newPost">
<button>Post 📮</button>
</form>

</section>