<section class="card green">
 <form id="post">   
 <header class="grey"> Project | {{name}}
 <h4 class="grey">Posted by | {{user.name}}</h4>
</header>
<h5>{{description}}</h5>
</form>

<form class="reply">
    <p>{{new_post}}</p> 
<input type="text" name="new_post"  class="new_post">
<button>Reply 📮</button>
</form>


</section>