<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="css/style.css">
  <title>BlogSpotz</title>
  
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="header center">
    
        <h1> blogSpotz  🗨 </h1> <h4>®</h4>
        
      </div>
    </header>
      <main class="myMain">
        {{{ body }}}
      </main>
  </div>
  </body>
  <script src="js/reply.js"></script>
</html>