<head>
  <meta charset="UTF-8">
  
  <link rel="stylesheet" href="css/style.css">
  <title>BlogSpotz</title>
  
</head>

<body>

  <div class="flex-column justify-space-around">
    <header class="header">
    
        <h1 id="switch"> blogSpotz  🗨 </h1> <h4>®</h4>
        
      </div>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>
  <script src="js/reply.js"></script>
</html>