<h3 class="center">Make New Post</h3>
<form id="newPostForm">
    <p>Topic to write about:</p>
    <input type="text" name="name" id='newName' placeholder="Topic of post..."/>
    <br>
    <p>Write your blog:</p>
    <input type="text" name="description" id='newDescription' placeholder="Describe project..."/>
    <br>
    <p>Project funding goal:</p>
    <input type="text" name="needed_funding" id='newFunding' placeholder="Enter Amount or a 0." />
    <br>
    <button>Post 📮</button>
</form>

<script src="/js/newPost.js"></script>