<h3 class="center">signup:</h3>
<form id="newPostForm">
    <input type="text" name="name" id='newName' placeholder="username..."/>
    <br>
    <input type="text" name="description" id='newDescription' placeholder="Describe project..."/>
    <br>
    <input type="text" name="needed_funding" id='newFunding' placeholder="if needed:funding amount" />
    <br>
    <button>Post 📮</button>
</form>

<script src="/js/newPost.js"></script>